.dataTables_scrollBody table tfoot {
  display: none;
}

.dataTables_filter .md-input {
  width: 300px;
}

.qb-list-option {
  margin-top: 15px;
}

.qb-row-count {
  position: absolute;
  top: 40px;
  left: 47%;
}

.qb-visitor-line {
  background-color: #ffffff !important;
}

.qb-form-table tbody tr:hover td {
  background-color: #dcf3fb;
  cursor: pointer;
}