.qb-answer-dashboard {
  position: relative;
}

.qb-first-answer-dashboard {
  background: none;
  box-shadow: none;
  padding-top: 35px !important;
  margin-bottom: 0px !important;
}

.panel-body {
  padding: 0px 60px 20px !important;
}

.panel-body-select-radio {
  padding: 10px 20px 20px 20px !important;
}

.survey-question-order span {
  color: #dc3545 !important;
}

.survey-question-content {
  padding: 0px 16px !important;
  width: 85% !important;
  font-size: 13px;
  font-family: "Verdana";
  color: #000000;
}

.row {
  padding: 20px !important;
}

.chart-body {
  width: 90%;
}

.qb-list-option {
  margin-top: 15px;
}

.qb-visitor-line {
  background-color: #ffffff !important;
}

.qb-first-answer-dashboard .amcharts-main-div .amcharts-chart-div, .qb-answer-dashboard .amcharts-main-div .amcharts-chart-div {
  height: 400px !important;
}

.qb-first-answer-dashboard .amcharts-main-div .amcharts-chart-div a, .qb-answer-dashboard .amcharts-main-div .amcharts-chart-div a {
  display: none !important;
}

/* survey first answer download PDF */

.qb-first-answer-dashboard .tooltip {
  top: 36px !important;
  left: 810px;
  width: 208px;
}

/* survey answer download PDF*/

.qb-answer-dashboard .tooltip {
  top: -13px !important;
  width: 208px;
}

/* survey first answer download CSV */

.qb-first-answer-dashboard .row .tooltip {
  top: -30px !important;
}

/* survey answer download PDF*/

.qb-answer-dashboard .row .tooltip {
  top: -20px !important;
}

/* survey question number order*/

.survey-question-order {
  font-size: 15px;
  font-weight: bold;
  font-family: "Verdana";
  color: #000000;
  float: left;
}

.qb-list-option.clearfix {
  margin-bottom: 7px !important;
}